@font-face {
	font-family: 'GmarketSansMedium';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html > body {
	font-family: 'GmarketSansMedium';
	text-underline-position: under;
}

/* 라이브러리 */
.con-min-width {
	min-width: var(--site-width);
}

.con {
	width: var(--site-width);
}

/* 커스텀 */
:root {
	--site-width: 1080px;
}

/* 탑바 구현 시작 */
.top-bar {
	background-color: white;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	z-index: 10;
}

.top-bar__menu-box-1 > ul > li > a {	
	display: flex;
	height: 100%;
	align-items: center;
	padding: 0 25px;
	position: relative;
}

.top-bar__menu-box-1 > ul > li:hover > a {	
	text-decoration: underline;
}

.top-bar__menu-box-1 > ul > li:hover > a::after {	
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: black;
}

.top-bar__menu-box-1 > ul > li > div.con-min-width {
	display: none;
	position: absolute;	
	left: 0;
	width: 100%;
	min-height: 400px;	
	background-color: white;
	transform: translateY(1px);
}

.top-bar__menu-box-1 > ul > li:hover > div.con-min-width {
	display: block;
}

/* 2차 메뉴 */
.top-bar__menu-box-1 div.con > ul {	
	padding: 30px 0;
}

/* 2, 3차 메뉴아이템 텍스트 */
.top-bar__menu-box-1 div.con > ul a {	
	display: block;
	text-align: center;
	padding: 10px 0;
}

/* hover 된 2, 3차 메뉴아이템 텍스트 */
.top-bar__menu-box-1 div.con > ul a:hover {	
	text-decoration: underline;
}

.top-bar__menu-box-1 > ul > li:first-child div.con > ul > li:last-child > a::after {	
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/svg_line_outlink.svg);
	background-size: 16px 16px;
	margin-left: 4px;
	vertical-align: middle;
}

.top-bar__menu-box-1 > ul > li:first-child div.con > ul > li:nth-child(1) > ul > li:nth-last-child(1) > a::after,
.top-bar__menu-box-1 > ul > li:first-child div.con > ul > li:nth-child(1) > ul > li:nth-last-child(2) > a::after {
	content: "";
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(../images/svg_line_outlink.svg);
	background-size: 14px 14px;
	margin-left: 4px;
	vertical-align: middle;
}

.top-bar__menu-box-1 > ul > li:nth-child(2) div.con > ul > li:nth-last-child(2) > ul > li:nth-child(2) > a::after {	
	content: "";
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(../images/svg_line_outlink.svg);
	background-size: 14px 14px;
	margin-left: 4px;
	vertical-align: middle;
}


/* 3차 메뉴 아이템 텍스트 */
.top-bar__menu-box-1 ul ul ul > li > a {	
	font-size: 13px;
	color: #444;
}


.drop-down-menu-box {
	position: relative;
}

.drop-down-menu__btn {
	background-color: rgba(244, 244, 244, 0.8);
	color: #444;
	border: 1px solid rgba(229, 229, 229, 0.8);
	padding: 13px 20px 10px 20px;
	border-radius: 50px;
}

.drop-down-menu__btn::after {
	content: "";
	width: 12px;
	height: 12px;
	display: inline-block;
	margin-left: 10px;
	background-image: url(../images/svg_line_arrow_down.svg);
	background-repeat: no-repeat;	
	background-size: 12px 12px;	
	transition: transform .5s;
}

.drop-down-menu__btn.active::after {
	transform: rotate(-180deg);
}

.drop-down-menu {	
	position: absolute;
	border-radius: 6px;	
	top: 100%;
	margin-top: 10px;	
	width: 240px;	
	left: 50%;
	transform: translateX(-50%) translateY(10%);
	background-color: #fff; 
	overflow: hidden;	
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);	
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
}

.drop-down-menu.active {
	opacity: 1;
	visibility: visible;
	transform: translateX(-50%) translateY(0);
}

.drop-down-menu > ul > li > a {
	display: block;
	text-align: left;	
	padding: 15px 24px;
	box-sizing: border-box;
	font-size: 13px;	
}

.drop-down-menu > ul > li:hover > a {
	text-decoration: underline;
	background-color: #f7f7f7;
}

.drop-down-menu > ul > li > a::after {
	content: "";
	display: inline-block;	
	width: 12px;
	height: 12px;
	background: url(../images/svg_line_outlink.svg);
	background-size: 12px 12px;
	margin-left: 4px;		
	vertical-align: middle;
}

.globe-icon-box {
	margin: 0 40px;
}

.globe-icon {
	background-image: url(../images/icon_eng.svg);
	background-repeat: no-repeat;
	background-size: 20px 20px;
	width: 20px;	
	height: 100%;	
	background-position: center;
}

.globe-icon-box > a:hover > .globe-icon {
	opacity: 0.5;
}
/* 탑바 구현 끝 */

/* 메인 섹션 배너 구현 시작 */
.section-main-banner {
	position: relative;
}

.section-main-banner > .con {	
	background-image: url(../images/main-bg3.png);
	height: 884px;
	background-repeat: no-repeat;	
	background-size: contain;
	position: relative;	
}

.section-main-banner__background {
	position: absolute;
	background-color: #ffef6b;
	height: 648px;
	width: 100%;
	top: 0;
	z-index: -1;
}

.main-banner__content {	
	position: absolute;
	top: 145px;
	left: 20px;
}

.store-links > ul > li > .link-store {
	display: flex;	
	border-radius: 10px;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	width: 178px;
	height: 56px;
	font-weight: bold;	
}

.store-links > ul > li:hover > .link-store {
	text-decoration: underline;
}

.store-links .link-store > .link-icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url(../images/img_kabang_220615.png);
	background-repeat: no-repeat;		
	margin-top: -5px;
	margin-right: 5px;
}

.store-links .link-store > .link-icon.google-icon {
	background-position: -341px -292px;
}

.store-links .link-store > .link-icon.app-store-icon {
	background-position: -371px -292px;
}

/* 메인 섹션 배너 구현 끝 */

/* 배너 컨텐츠 구현 시작 */

/* 배너 컨텐츠 공통 스타일 시작 */
.banner-content-type {
	height: 750px;
}

.banner-content-type > .con {
	display: flex;
	height: 100%;	
}

.banner-content-type-between-pad {
	height: 32px;
	background-color: #FAFAFA;
}

.banner-content-type > .con > .banner-content__content-box {
	width: 55%;		
	position: relative;
}

.banner-content-type > .con > .banner-content__img-box {
	width: 45%;		
	position: relative;
}

.banner-btn {			
	margin-top: 38px;	
}

.banner-btn > a {
	font-size: 16px;	
	color: #333;	
	width: 258px;
	height: 56px;
	border-radius: 10px;	
	background-color: #f6f6f6;	
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0 3px;
}

.banner-btn > a:hover > span:first-child {
	text-decoration: underline;
}
/* 배너 컨텐츠 공통 스타일 끝 */

/* 배너 컨텐츠 1 구현 시작 */
.banner-content-type-1 .banner-content__img-box > img {
	width: 473px;
	position: absolute;
	top: 36px;	
	left: 20px;
}

.banner-content-1__main-cont {
	position: absolute;
	width: 80%;	
	top: 210px;
	left: 120px;
}
/* 배너 컨텐츠 1 구현 끝 */

/* 배너 컨텐츠 2 구현 시작 */
.banner-content-type-2 .banner-content__img-box > img {
	width: 409px;
	position: absolute;
	top: 36px;		
	left: 50px;
	opacity: 0;
	transform: translateX(100%);
	transition: transform 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s;
}

.banner-content-type-2 .banner-content__img-box.active > img {	
	opacity: 1;
	transform: translateX(0);
}

.banner-content-2__main-cont {
	position: absolute;
	width: 80%;	
	top: 178px;	
	left: 63px;
}

.banner-content-2__main-cont .banner-btn > a {
	width: 158px;
}
/* 배너 컨텐츠 2 구현 끝 */

/* 배너 컨텐츠 3 구현 시작 */
.banner-content-type-3 .banner-content__img-box > img {
	width: 459px;
	position: absolute;
	top: 36px;	
	left: 35px;	
}

.banner-content-3__main-cont {
	position: absolute;
	width: 80%;	
	top: 163px;
	left: 120px;
}
/* 배너 컨텐츠 3 구현 끝 */

/* 배너 컨텐츠 4 구현 시작 */
.banner-content-type-4 .banner-content__img-box > img {
	width: 492px;
	position: absolute;
	top: 100px;	
}

.banner-content-4__main-cont {
	position: absolute;
	width: 80%;	
	top: 160px;
	left: 20%;	
}
/* 배너 컨텐츠 4 구현 끝 */

/* 배너 컨텐츠 5 구현 시작 */
.banner-content-type-5 {
	background-image: url(../images/home_map.png);
	background-repeat: no-repeat;
	background-position: -5% 50%;	
}

.banner-content-type-5 .banner-content__img-box > img {
	width: 408px;
	position: absolute;
	top: 76px;	
	left: 66px;
	opacity: 0;
	transform: translateY(100%);
	transition: transform 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s;
}

.banner-content-type-5 .banner-content__img-box.active > img {
	opacity: 1;
	transform: translateY(0);
}

.banner-content-5__main-cont {
	position: absolute;
	width: 80%;	
	top: 196px;
	left: 158px;
}
/* 배너 컨텐츠 5 구현 끝 */

/* 배너 컨텐츠 구현 끝 */

/* 대출박스 구현 시작 */
.loan-box {
	position: relative;
	z-index: 0;	
	color: white;
}

.loan-box > .sky {	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.loan-box > .sky > .blue {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #559cde;
	transition: height .5s;
}

.loan-box.active > .sky > .blue {
	height: 0;
}

.loan-box > .sky > .moon {
	width: 112px;
	height: 112px;
	position: absolute;		
	left: calc(50% + 490px);
	top: 26%;	
	overflow: hidden;
}

.loan-box > .sky > .moon > .base {
	width: 110px;
	height: 110px;
	border-radius: 50%;
	background-color: #ffdc00;
	transition: background-color .5s .5s;
}

.loan-box.active > .sky > .moon > .base {	
	background-color: #fff
}

.loan-box > .sky > .moon > .shadow {	
	top: -100%;
	left: -100%;
	width: 100%;
	height: 100%;		
	border-radius: 50%;
	position: absolute;
	transition: top .5s .5s, left .5s .5s;
}

.loan-box.active > .sky > .moon > .shadow {
	top: -23%;
	left: -23%;
	background-color: #333b58;
}

/* 대출박스 - 별 시작 */
.loan-box.active .sky .ico-star {
	position: absolute;
	width: 4px;
	height: 4px;
	border-radius: 4px;
	background-color: #fff;
}

.ico-star-1 {
	top: 30%;
	left: 10%;
	animation: clittering 2s infinite;
}

.ico-star-2 {
	top: 10%;
	left: 20%;
	animation: clittering 3s infinite;
}

.ico-star-3 {
	top: 25%;
	left: 15%;
	animation: clittering 5s infinite;
}

.ico-star-4 {
	top: 40%;
	right: 15%;
	animation: clittering 2s infinite;
}

.ico-star-5 {
	top: 43%;
	right: 30%;
	animation: clittering 4s infinite;
}

.ico-star-6 {
	top: 73%;
	right: 27%;
	animation: clittering 1.8s infinite;
}

.ico-star-7 {
	top: 65%;
	left: 22%;
	animation: clittering 3.5s infinite;
}

@keyframes clittering {
	0% {
		opacity: 0;
		transform: scale(0.5)
	}

	50% {
		opacity: 1;
		transform: scale(0.9)
	}

	100% {
		opacity: 0;
		transform: scale(0.5)
	}
}
/* 대출박스 - 별 끝 */

.loan-box .menu-box-1 > ul > li > a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 166px;
	height: 52px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.09);		
}

.loan-box .menu-box-1 > ul > li > a::after {
	content: " >";
	margin-left: 5px;
}

.loan-box .menu-box-1 > ul > li:hover > a > span {
	text-decoration: underline;
}

.loan-box .img-box {		
	display: flex;
	justify-content: center;
}

.loan-box .img-box > img {
	width: 429px;
}

/* 대출박스 구현 끝 */

/* 체크카드 박스 구현 시작 */
.btn-box {
	display: flex;
	justify-content: center;
}

.btn-box > a {	
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f6f6f6;
	width: 258px;
	height: 56px;		
	color: #333;
	border-radius: 10px;	
}

.btn-box > a::after {
	content: " >";
	margin-left: 5px;
	font-size: 14px;
}

.btn-box:hover > a > span {
	text-decoration: underline;
}

.checkcard-box .slider-box-1 {	
	position: relative;
}

.checkcard-box .slider-box-1 > .slides {
	display: flex;
	justify-content: center;
	align-items: center;	
}

.checkcard-box .slider-box-1 > .slides > div > img {
	display: block;
	width: 240px;
}

.checkcard-box .slider-box-1 > .slides > div.center {
	margin: 0 -100px;
	z-index: 1;	
}

.checkcard-box .slider-box-1 > .slides > div.center > img {
	width: 280px;
}

.checkcard-box .slider-box-1 > .arrows > div {	
	position: absolute;
	top: 50%;	
	left: 30px;
	transform: translateY(-50%);
	cursor: pointer;
}

.checkcard-box .slider-box-1 > .arrows > .arrow-next {
	left: auto;
	right: 30px;
}

.checkcard-box .slider-box-1 > .arrows > div:active {
	transform: translateY(-10%);
}

/* 체크카드 스와이퍼 시작 */
.checkcard-swiper-wrap {	
	height: 475px;	
}

.checkcard-swiper-wrap > .swiper {
	width: 660px;
	height: 100%;
}

.checkcard-box .swiper .swiper-slide {	
	display: flex;
	align-items: center;		
}

.checkcard-box .swiper .swiper-slide.swiper-slide-prev {
	left: 65px;
}

.checkcard-box .swiper .swiper-slide.swiper-slide-next {
	right: 65px;
}

.checkcard-box .swiper .swiper-slide > img {
	width: 220px;
	transition: transform 0.3s;	
}

.checkcard-box .swiper .swiper-slide.swiper-slide-active {
	z-index: 10;		
}

.checkcard-box .swiper .swiper-slide.swiper-slide-active > img {
	transform: scale(1.2);		
}

.checkcard-box .swiper-button-group .swiper-button::after {
	display: none;
}

.checkcard-box .swiper-button-group .swiper-button {	
	width: 60px;
	height: 100px;
	transform: translateY(-50%);
}

.checkcard-box .swiper-button-group .swiper-button > .arrow {
	display: block;		
	height: 100%;
	width: 100%;
	background-image: url(../images/img-left.png);
	background-repeat: no-repeat;
	background-position: center;	
}

.checkcard-box .swiper-button-group .swiper-button > .arrow-next {
	background-image: url(../images/img-right.png);
}
/* 체크카드 스와이퍼 끝 */

/* 체크카드 박스 구현 끝 */

/* it 스킬 박스 구현 시작 */
.itskill-box {
	position: relative;
	z-index: 0;
}

.itskill-box > .con > .itskill-bar {
	margin-top: 50px;
	height: 2px;
	border: 3xp solid gold;
	display: flex;
	justify-content: center;
}

.itskill-box > .con > .itskill-bar::after {
	content: "";
	display: block;
	height: 100%;
	width: 100px;
	background-color: black;
/* 	margin: 0 auto; */
}

.itskill-box > .con > .info-box::before {
	content: "";
	position: absolute;	
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #eee;
	transform: translateY(123px);
	z-index: -1;
}


.itskill-box > .con > .info-box > .cont-box > ul > li {
	text-align: center;
	width: 25%;
}

.itskill-box > .con > .info-box > .cont-box > ul > li > strong {
	display: block;
	font-size: 18px;
	margin: 45px 0 17px 0;
}

.itskill-box > .con > .info-box > .cont-box > ul > li > .des {
	font-size: 14px;
	color: #666;
}
/* it 스킬 박스 구현 끝 */

/* 푸터 구현 시작 */
.bottom-bar__menu-1 > ul > li > a {
	color: #666;
	padding: 0 15px;
	font-size: 11px;	
	position: relative;
}

.bottom-bar__menu-1 > ul > li:hover > a {
	text-decoration: underline;
}

.bottom-bar__menu-1 > ul > li:not(:nth-last-child(4)):not(:last-child) > a::after {
	content: "";
	background-color: #d8d8d8;
	height: 12px;
	width: 1px;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateX(2px) translateY(-50%);	
}

.bottom-bar .sns-icon-list > ul > li > a {
	display: block;
	width: 24px;
	height: 24px;	
	background-image: url(../images/ico_sns.png);
	background-repeat: no-repeat;			
}

.bottom-bar .sns-icon-list > ul > li > .sns-icon.facebook {
	background-position: 0 -90px;
}

.bottom-bar .sns-icon-list > ul > li > .sns-icon.instagram {
	background-position: -191px -138px;
}

.bottom-bar .sns-icon-list > ul > li > .sns-icon.youtube {
	background-position: -90px -90px;
}

.bottom-bar .sns-icon-list > ul > li > .sns-icon.brunch {
	background-position: -217px -138px;
}
/* 푸터 구현 끝 */